@font-face {
  font-family: heading;
  src: url(TrenchThin-aZ1J.ttf);
}

@font-face {
  font-family: navbar;
  src: url(SpaceFrigate-KVdW.ttf);
}

header {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  text-shadow: 3px 3px 3px #ad4977;
  color: #5b0072;
  font-family: heading;
}

header:hover {
  font-size: 20.3px;
}

body {
  text-align: center;
  background-image: url("image_processing20210831-24520-17t1no2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 600px) {
  body,
  .flx,
  .Div,
  button,
  .solar,
  .escape,
  .sun {
    background-attachment: scroll;
  }
}

.M {
  text-align: left;
  margin-left: 150px;
  margin-top: 350px;
  font-size: 40px;
  color: white;
  text-shadow: 0px 3px 3px #000;
}

#J {
  margin-top: -300px;
  margin-right: 150px;
  text-align: end;
  font-size: 40px;
  color: white;
  text-shadow: 0px 3px 3px #000;
}

.m3 {
  color: #ffffff;
  margin-top: 30px;
  font-size: 25px;
  text-shadow: 0px 3px 3px #000;
}

.sun {
  border-radius: 60%;
  box-shadow: #f9b836 3px 3px 3px;
}

.solar {
  color: rgb(255, 254, 254);
  font-size: 50px;
  margin-top: 30px;
  margin-left: -130px;
  text-shadow: -5px 5px 10px #fffffe;
  font-family: navbar;
}

.escape {
  color: #f9b836;
  font-size: 40px;
  margin-top: 20px;
  opacity: 0.9;
  margin-bottom: 120px;
  margin-left: 500px;
  text-shadow: 3px 5px 10px #f9b836;
  font-family: navbar;
}

.flx {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: -50px 180px 80px 200px;
}

.buy {
  align-self: center;
  position: relative;
}

.Div {
  position: absolute;
  backdrop-filter: blur(300px);
  background: linear-gradient(to top, purple, whitesmoke);
  height: 880px;
  width: 1100px;
  margin: block;
  padding-bottom: 10px;
  margin-right: 0px;
  margin-left: 190px;
  margin-top: -70px;
  border-radius: 40px;
  opacity: 0.6;
}

button {
  font-family: navbar;
  width: 200px;
  height: 55px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px 20px 20px 20px;
  background-color: #720072;
  border: none;
  font-size: 10px;
  position: relative;
  /* overflow: hidden; */
  transition: 200ms;
}

button span {
  color: rgb(255, 255, 255);
  position: relative;
  transition: 200ms;
  transition-delay: 200ms;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 13px;
  font-weight: 700;
  cursor: pointer;
}

button:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transition: 500ms;
  transition-delay: 200ms;

  box-shadow: 0 0 10px #65446d, 0 0 30px #b1303d, 0 0 50px #5b0072;
}

button div {
  transition: 400ms;
  position: absolute;
  background-color: #000000;
  box-shadow: 0 0 15px #6d0ae6, 0 0 30px #5b0072, 0 0 50px #f4ddff(180, 30, 234);
}

button .top {
  width: 10px;
  height: 2px;
  top: 0;
  left: 0;
}

button .bottom {
  width: 10px;
  height: 2px;
  bottom: 0;
  right: 0;
}

button .left {
  width: 2px;
  height: 10px;
  top: 0;
  left: 0;
}

button .right {
  width: 2px;
  height: 10px;
  bottom: 0;
  right: 0;
}

button:hover span {
  color: #000;
}

button:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

button:hover .top,
button:hover .bottom {
  width: 100%;
}

button:hover .left,
button:hover .right {
  height: 100%;
}

button:active {
  transform: scale(20%);
}

h4 {
  color: #ad4977;
  font-size: 15px;
}

iframe {
  box-shadow: #5f3a27 3px 3px 3px;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 50px;
}

footer {
  background-color: #b1303d;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: heading;
  opacity: 0.9;
  font-size: 20px;
}

.div-footer {
  position: absolute;
  margin-left: 33%;
  margin-right: 40%;
  margin-bottom: 50px;
  margin-top: -40px;
}

.socialmedia {
  background-color: rgba(255, 255, 255, 0.077);
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.twitter {
  height: 50px;
  width: 50px;
}

.facebook {
  height: 50px;
  width: 50px;
}

.youtube {
  height: 50px;
  width: 50px;
}

.twitter:hover,
.youtube:hover,
.facebook:hover {
  scale: 120%;
  cursor: pointer;
}
